$font-size: 20px;
$frame-color: #EEEEEE;
$size: 2.5em;
$open-width: 18em;
$open-padding: 0.3em 2.1em 0.3em 0.4em;
$frame-thickness: 0.3em;
$handle-height: 1.4em;
$open-trans-time: 800ms;
$close-trans-time: 150ms;

.navbar{
    padding: 15px 30px 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #27374D;
	position: fixed;
	width: 96%; 
	background-color: #000000;
}

.nav-wrapper{
	position: relative;
	// width: 100%;
}

.search-box {
	font-size: $font-size;
	border: solid $frame-thickness $frame-color;
	display: inline-block;
	position: relative;
	border-radius: $size;
	input:hover{
		cursor: pointer;
	}
	input[type="text"] {
		font-family: inherit;
		font-weight: bold;
		width: $size;
		height: $size;
		padding: $open-padding;
		border: none;
		box-sizing: border-box;
		border-radius: $size;
        background-color: #000000;
        color: white;
		transition:
			width $open-trans-time cubic-bezier(0.68, -0.55, 0.27, 1.55) $close-trans-time;
		&:focus {
			outline: none;
		}
		&:focus, &:not(:placeholder-shown) {
			width: $open-width;
            padding-left: 20px;
			transition: width $open-trans-time cubic-bezier(0.68, -0.55, 0.27, 1.55);
			+ button[type="reset"] {
				transform: rotate(-45deg) translateY(0);
				transition:
					transform $close-trans-time ease-out $open-trans-time;
			}
			+ button[type="reset"]:after {
				opacity: 1;
				transition:
					top $close-trans-time ease-out ($open-trans-time + $close-trans-time),
					right $close-trans-time ease-out ($open-trans-time + $close-trans-time),
					opacity $close-trans-time ease ($open-trans-time + $close-trans-time);
			}
			+ button:hover{
				cursor: pointer;
			}
		}
	}
	button[type="reset"] {
		background-color: transparent;
		width: $handle-height;
		height: $handle-height;
		border: 0;
		padding: 0;
		outline: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: ($size / 2) - ($handle-height / 2);
		right: ($size / 2) - ($handle-height / 2);
		transform: rotate(-45deg) translateY($size - $frame-thickness);
		transition:
			transform $close-trans-time ease-out $close-trans-time;
		&:before, &:after {
			content: "";
			background-color: $frame-color;
			width: $frame-thickness;
			height: $handle-height;
			position: absolute;
		}
		&:after {
			transform: rotate(90deg);
			opacity: 0;
			transition:
				transform $close-trans-time ease-out,
				opacity $close-trans-time ease-out;
		}
	}
}

.search-box:hover{
	cursor: pointer;
}

.icon-name{
    font-size: 1.5em;
    color: #D89216;
	font-weight: 900;
}

.right-corner{
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .login,.trending{
        background-color: #D89216;
        border-radius: 30px;
        padding: 10px;
    }
}